<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="ps-3">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>    
    </div>    
    <div class="ps-3"><a class="navbar-brand" href="#">App Capacitación</a></div>
    <div class="collapse navbar-collapse pe-3" id="containerNavbar">
        <ul class="navbar-nav mr-auto w-100 justify-content-end ps-3">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" routerLink="/">Inicio</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/clientes">Clientes</a> 
            </li>
        </ul>
    </div>
</nav>
    