<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
    <h2>Agregar nuevo Cliente</h2>
    <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
      <div class="form-group">
        <label for="Nombre">Nombres (*)</label>
        <input type="text" class="form-control" id="Nombre" ngModel name="Nombre" #Nombre="ngModel" required />
        <p class="alert alert-danger" *ngIf="Nombre.invalid && Nombre.touched">
          En Nombre es requerido.
        </p>
      </div>
      <div class="form-group">
        <label for="Apellido">Apellidos</label>
        <input type="text" class="form-control" id="Apellido" ngModel name="Apellido" />
      </div>
      <div class="form-group">
        <label for="Email">Correo Electrónico (*)</label>
        <input type="text" class="form-control" id="Email" name="Email" ngModel #Email ="ngModel" required email/>
        <p class="alert alert-danger" *ngIf="Email.invalid && Email.touched">
          Por favor introduzca una dirección de correo correcta.
        </p>
      </div>
      <div class="form-group">
        <label for="Telefono">Teléfono</label>
        <input type="text" class="form-control" id="Telefono" ngModel name="Telefono" />
      </div>
      <div class="form-group">
        <label for="Direccion">Dirección</label>
        <input type="text" class="form-control" id="Direccion" ngModel name="Direccion" />
      </div>
      <br />  
      <div class="form-group">
        <button type="submit" class="btn btn-success float-start" [disabled]="!createForm.valid">Agregar Cliente</button>      
        <a class="btn btn-primary float-end" routerLink="/clientes">Volver</a>
      </div>
     <!-- <hr>
      <pre> email Dirty: {{ email.dirty }}</pre>
      <pre> email Pristine: {{ email.pristine }}</pre>
      <pre> email Touched: {{ email.touched }}</pre>
      <pre> email Valid: {{ email.valid }}</pre>
      <pre> email Invalid: {{ email.invalid }}</pre>
      -->
    </form>   
  </div>
</div>
