<h2>Bienvenido a la App de Capacitación - Práctica Profesional</h2>

<!--<label>Nombre del Cliente</label>
<input type="text"  id="clienteNombre"  [(ngModel)]="clienteNombre" />
<p>{{ clienteNombre }}</p>-->
