<table
  class="table table-bordered table-striped tabla"
  style="margin-top: 40px"
>
  <thead>
    <tr class="filters">
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo Electrónico</th>
      <th>Telefono</th>
      <th>Dirección</th>
      <th colspan="2" class="text-center">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.Nombre }}</td>
      <td>{{ cliente.Apellido }}</td>
      <td>
        <a href="mailto:{{ cliente.Email }}">{{ cliente.Email }}</a>
      </td>
      <td>{{ cliente.Telefono }}</td>
      <td>{{ cliente.Direccion }}</td>
      <td>
        <button          
          class="btn btn-success"
          routerLink="/clientes/edit/{{ cliente.Id }}">Editar</button>
      </td>
      <td>
        <button class="btn btn-danger"
        (click)="eliminarCliente(cliente.Id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
