<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
      <h2>Editar Cliente</h2>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="Nombre">Nombres (*)</label>
          <input type="text" class="form-control" id="Nombre" name="Nombre" formControlName="Nombre" />   
          <div *ngIf="editForm.controls['Nombre'].invalid && (editForm.controls['Nombre'].dirty || editForm.controls['Nombre'].touched)" class="alert alert-danger">
            <div *ngIf="editForm.get('Nombre')?.hasError('required')">
              El campo Nombre es requerido.
            </div>            
          </div>            
        </div>
        <div class="form-group">
          <label for="Apellido">Apellidos</label>
          <input type="text" class="form-control" id="Apellido" formControlName="Apellido" />
        </div>
        <div class="form-group">
          <label for="Email">Correo Electrónico (*)</label>
          <input type="text" class="form-control" id="Email" formControlName="Email" />      
          <div *ngIf="editForm.controls['Email'].invalid && (editForm.controls['Email'].dirty || editForm.controls['Email'].touched)" class="alert alert-danger">
            <div *ngIf="editForm.get('Email')?.hasError('required')">
              El campo email es requerido.
            </div>
            <div *ngIf="editForm.get('Email')?.hasError('Email')">
              El campo email no tiene formato de correo electrónico.
            </div>
          </div>  
        </div>
        <div class="form-group">
          <label for="Telefono">Teléfono</label>
          <input type="text" class="form-control" id="Telefono" formControlName="Telefono" />
        </div>
        <div class="form-group">
          <label for="Direccion">Dirección</label>
          <input type="text" class="form-control" id="Direccion" formControlName="Direccion" />
        </div>
        <br />  
        <div class="form-group">
          <button type="submit" class="btn btn-success float-start" [disabled]="!editForm.valid">Guardar</button>      
          <a class="btn btn-primary float-end" routerLink="/clientes">Volver</a>
        </div>       
      </form>   
    </div>
  </div>
  
